@media (max-width: 992px) {
  .main-logo {
    max-height: 50px;
  }
  .btn-call-to-action {
      height: 40px !important;
      width: 130px !important;
      font-size: 1rem !important;
  }
.bg-style {
    width:100% !important;
    height: 250px !important;
    border-radius: 10px !important;
}
.main-page {
    margin-top: 2rem !important;
}
.description-btn {
    font-size: 0.8rem !important;        
}
.description-btn p{
   margin-bottom: 0.5rem !important;      
}

.more-info {
    font-size: 0.8rem !important;
}

.middle-col {
    justify-content: start !important;
}

}

body {
  font-family: sans-serif, "Noto Sans", "Montserrat Alternates" !important;
  padding-top: 7rem; /* for fixed top navbar shifting */
}

.polygon {
  margin-left: 0.2rem;
}

.main-logo-container {
  text-decoration: none;
}

.logo-text {
  color: black;
  font-family: "Roboto", sans-serif;
}

.logo-text:hover {
  color: #414543;
}

.dropdown-toggle::after {
  display: none;
}

.nav-item {
  margin-right: 1.2rem;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6b6868;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #51cdd4;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f0c419;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sign-up-item-style {
  background-color: white;
  border-color: #f0c419;
  color: black;
}

.sign-up-item-style:hover {
  background-color: #f0c419;
  color: black;
  border-color: transparent;
}

.main-page {
  margin-top: 7rem;
}

.header-style {
  font-family: "Roboto Mono", monospace;
  color: #24d6ab;
}

.city-name {
  font-family: "Noto Sans", sans-serif;
  margin-left: 0.5rem;
}

.bg-style {
  background-color: #24d6ab;
  height: 100%;
/* width: 75%; */
  border-radius: 60px;
}

.btn-call-to-action{
    width: 243px;
    height: 60px;
    font-size: 1.6rem;
    background-color: white;
    color: #999797;
    border-color: white;
    font-family: "Noto Sans", sans-serif;
    border-radius: 20px;
}

.btn-call-to-action:hover {
    background-color: #f0c419;
   
}

.more-info {
    color:black;
    font-size: 14px;
    text-decoration: none;
}


.more-info:hover{
    color: #f0c419; 
}

.add-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

.social-name {
    font-family:"Roboto Mono", monospace;
}

.share-link {
    color:  #f0c419;
    text-decoration: none;
}

.share-link:hover {
    color: #6b6868;
}

.offers-available {
    font-family: "Noto Sans", sans-serif;
    
}

.offers-quantity {
    color:#24d6ab;
    font-family:"Roboto Mono", monospace;
}


.footer-info {
    background-color:#f0c419;;
}


.first-footer-col {
    padding-right: 6rem;
}

.useful-info {
    list-style-type: none;

}

.list-group-item {
    text-decoration: none;
    background: unset;

}


.footer-links {
    text-decoration: none;
    color: black;
    border-style: unset;
    padding: unset;
    line-height: 1.7rem;
    

}

.footer-links:hover{
    color: #999797;
}



.safehost-name {
   font-family:"Roboto", sans-serif; 
}

.safehost-description {
    font-size: 14px;
}


.tg-public {
    font-family:"Roboto Mono", monospace;

}


.link-copied{
    columns:#999797;
    
    font-size:9px;
    vertical-align: super;
}